name = "VRPTW"
uuid = "2f4a8497-51d4-4879-9a67-e673faec8f39"
authors = ["Joanna Kulig"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
